@import '../../theme/styles/var';

.button {
  cursor: pointer;
  padding: 0 16px;
  height: 36px;
  font-size: 16;
  font-weight: 400;
  border: none;
  color: white;
  border-radius: 4px;
  transition: all 0.15s;
}

.addToCart {
    background-color: $lightGreen;
}