@import "../../theme/styles/var";

.contentContainer {
  background-color: #f8f8f8;
}

.pageContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  padding-bottom: 40px;
  @media (max-width: $tabMax) {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }
}

.filtersFully {
  display: block;
  @media (max-width: $tabMax) {
    display: none;
  }
}

.accordionContainer {
  display: none;
  @media (max-width: $tabMax) {
    display: block;
    margin-bottom: 20px;
  }
}

.pageTitleContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pageTitle {
  font-size: 30px;
  color: $darkGreen;
}

.loaderContainer {
  margin: 0 auto;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  min-height: 50vh;
  margin-left: -3.25%;
}

.paginationContainer {
  display: flex;
  justify-content: center;
}
