@import "../../theme/styles/var";

.contentContainer {
  background-color: #f8f8f8;
}

.pageContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  padding-bottom: 40px;
}

.pageTitleContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pageTitle {
  font-size: 30px;
  color: $darkGreen;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}


.paginationContainer {
  display: flex;
  justify-content: center;
}
