@import "./var";

html {
    height: calc(100% - 110px);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: #f8f8f8;
    position: relative;
    min-height: 100%;
}

main {
    margin-top: 110px;
}
