$colorWhite: rgb(255, 255, 255);
$colorGhostWhite: rgb(250, 250, 255);
$colorAntiFlashWhite: rgb(242, 243, 244);
$colorLightGray: rgb(216, 216, 216);
$colorSilverChalice: rgb(172, 172, 172);
$colorSpanishGray: rgb(152, 152, 152);
$colorDimGray: rgb(105, 105, 105);
$colorDarkLight: rgb(53, 53, 53);
$colorBlack: rgb(0, 0, 0);

$darkGreen: #357a38;
$lightGreen: #357a38;
$lightOrange: #ff9800;

$font-family: "Jost", sans-serif;

$mobMin: 320px;
$mobMax: 480px;
$tabMin: 481px;
$tabMax: 992px;
$deskMin: 993px;
