@import "../../theme/styles/var";

.noProductsWarning {
    text-align: center;
    font-size: 20px;
}

.pageTitle {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
    color: $darkGreen;
}
