@import "../../theme/styles/var";

.filterName {
    font-size: 24px;
    padding-bottom: 10px;
}

.filterItemContainer {
    padding-bottom: 20px;
}

.listContainer {
    @media (max-width: $tabMax) {
        display: flex;
        flex-wrap: wrap;
    }
}
