@import "../../../theme/styles/var";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoOrga {
  color: $lightGreen;
  font-size: 40px;
}

.logoFresh {
  color: $lightOrange;
}

.navItem {
  padding-left: 25px;
  padding-right: 25px;
  color: $colorSpanishGray;
  font-weight: bold;
  font-size: 20px;
}

.navItem:hover,
.navItemActive {
  color: $lightGreen;
}

.iconContainer {
  padding-left: 20px;
}
